@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	html {
		font-family: "Manrope", sans-serif;
		font-size: 62.5%;
		scroll-behavior: smooth;
	}
}

@layer components {
	/* Button */
	.phile-btn {
		font-size: 1.3em;
		line-height: 1.8em;
		letter-spacing: 1px;
		font-weight: 700;
		text-transform: uppercase;
		transition: all 0.3s;
	}

	.phile-btn-1,
	.phile-btn-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16.8em;
		height: 4em;
	}

	.phile-btn-1 {
		background: #d87d4a;
		color: white;
	}

	.phile-btn-1:hover {
		background: #fbaf85;
	}

	.phile-btn-2 {
		background: transparent;
		color: black;
		border: 1px solid black;
	}

	.phile-btn-2:hover {
		background: black;
		color: white;
	}

	.phile-btn-3 span:first-child {
		color: black;
		opacity: 0.5;
		margin-right: 13.32px;
		transition: all 0.3s;
	}

	.phile-btn-3 span:first-child:hover {
		color: #d87d4a;
		opacity: 1;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
