@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: 2px;
}
@media only screen and (min-width: 1024px) {
  .heading-1 {
    font-size: 5.6rem;
    line-height: 58px;
  }
}

.heading-2 {
  font-size: 2.8rem;
  line-height: normal;
  letter-spacing: 1px;
}
@media only screen and (min-width: 1024px) {
  .heading-2 {
    font-size: 4rem;
    line-height: 44px;
    letter-spacing: 1.5px;
  }
}

.heading-3 {
  font-size: 2.4rem;
  line-height: 36px;
  letter-spacing: 0.857px;
}
@media only screen and (min-width: 1024px) {
  .heading-3 {
    font-size: 3.2rem;
    letter-spacing: 1.15px;
  }
}

.heading-4 {
  font-size: 2.8rem;
  line-height: 38px;
  letter-spacing: 2px;
}

.heading-5 {
  font-size: 2.4rem;
  line-height: 33px;
  letter-spacing: 1.7px;
}
@media only screen and (min-width: 1024px) {
  .heading-5 {
    font-size: 2.4rem;
    line-height: 33px;
    letter-spacing: 1.7px;
  }
}

.heading-6 {
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.3px;
}
@media only screen and (min-width: 1024px) {
  .heading-6 {
    font-size: 1.8rem;
    line-height: 24px;
    letter-spacing: 1.3px;
  }
}

.overline-text {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub-title {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 1px;
  color: #d87d4a;
}

.body-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
}

.layout-index {
  z-index: 15;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: "Manrope", sans-serif;
    font-size: 62.5%;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 325px;
    scroll-behavior: smooth;
    height: 100%;
  }
  body {
    height: 100%;
    overflow-x: hidden;
  }
}
.layout-padding {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
@media only screen and (min-width: 640px) {
  .layout-padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .layout-padding {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
@media only screen and (min-width: 1380px) {
  .layout-padding {
    padding-left: 17.5rem;
    padding-right: 17.5rem;
  }
}

.phile-btn {
  font-size: 1.3em;
  line-height: 1.8em;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.phile-btn-1,
.phile-btn-2,
.phile-btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 4.8rem;
}
@media only screen and (min-width: 1024px) {
  .phile-btn-1,
  .phile-btn-2,
  .phile-btn-4 {
    width: 16.8rem;
    height: 4rem;
  }
}

.phile-btn-1 {
  background: #d87d4a;
  color: white;
}
.phile-btn-1:hover {
  background: #fbaf85;
  cursor: pointer;
}

.phile-btn-2 {
  background: transparent;
  color: black;
  border: 1px solid black;
}
.phile-btn-2:hover {
  background: black;
  color: white;
}

.phile-btn-4 {
  background: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}
.phile-btn-4:hover {
  background: #4c4c4c;
  border: 1px solid #4c4c4c;
  color: #ffffff;
}

.phile-btn-3 span:first-child {
  color: black;
  opacity: 0.5;
  margin-right: 13.32px;
  transition: all 0.3s;
}
.phile-btn-3 span:first-child:hover {
  color: #d87d4a;
  opacity: 1;
}

.phile-icon path {
  stroke-width: 2;
}

.footer {
  position: relative;
}
@media only screen and (min-width: 1380px) {
  .footer::before {
    content: "";
    position: absolute;
    width: 100vw;
    display: block;
    right: 0;
    margin: 0 calc(-50vw + 50%);
    z-index: -1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: black;
    height: 100%;
  }
}

.hero {
  background-image: url("../assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-position-y: 70%;
  width: 100%;
  height: 60rem;
}
@media only screen and (min-width: 640px) {
  .hero {
    background-image: url("../assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 72.9rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-position: 70% 50%;
    height: 100vh;
  }
}
@media only screen and (min-width: 1536px) {
  .hero {
    background-position: top right 30%;
    background-size: 280rem;
  }
  .hero::before {
    content: "";
    position: absolute;
    width: 100vw;
    display: block;
    right: 0;
    margin: 0 calc(-50vw + 50%);
    z-index: -1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #191919;
    height: 100%;
  }
}
@media only screen and (min-width: 1536px) and (min-width: 1380px) {
  .hero::before {
    height: 100vh;
  }
}

.test-img {
  background-image: url("../assets/shared/desktop/image-best-gear.jpg");
  background-size: cover;
  width: 50%;
  border-radius: 8px;
}

.home-products {
  background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
  height: 32rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 640px) {
  .home-products {
    background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .home-products {
    background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
  }
}
.home-products-2 {
  background-image: url("../assets/home/mobile/image-earphones-yx1.jpg");
  height: 20rem;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 640px) {
  .home-products-2 {
    background-image: url("../assets/home/tablet/image-earphones-yx1.jpg");
    height: 32rem;
    background-position: center;
  }
}
@media only screen and (min-width: 1380px) {
  .home-products-2 {
    background-image: url("../assets/home/desktop/image-earphones-yx1.jpg");
    height: 32rem;
  }
}

.best-gear {
  background-image: url("../assets/shared/mobile/image-best-gear.jpg");
  background-size: cover;
  width: 100%;
  height: 30rem;
}
@media only screen and (min-width: 640px) {
  .best-gear {
    background-image: url("../assets/shared/tablet/image-best-gear.jpg");
    background-position: center;
  }
}
@media only screen and (min-width: 1024px) {
  .best-gear {
    background-image: url("../assets/shared/desktop/image-best-gear.jpg");
    width: 54rem;
    height: 58.8rem;
  }
}
@media only screen and (min-width: 1380px) {
  .best-gear {
    height: 58.8rem;
    background-position: center;
  }
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 18px 24px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  color: #000000;
  letter-spacing: -0.25px;
  caret-color: #d87d4a;
  border: 1px solid #cfcfcf;
}
.input:focus {
  border: 1px solid #d87d4a;
}
.input-error {
  border: 2px solid #cd2c2c;
}
.input-error:focus {
  border: 2px solid #cd2c2c;
}
.input::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.4;
  line-height: 19px;
}
.input::placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.4;
  line-height: 19px;
}

.payment-method {
  padding: 18px 24px;
  border-radius: 8px;
}

.nav::after {
  content: "";
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  opacity: 20%;
  margin-top: 3.6rem;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}
.nav-link-active {
  color: #d87d4a;
}
.nav-link:hover {
  color: #d87d4a;
}

.mobile-nav-popup::before {
  content: "";
  position: absolute;
  width: 100vw;
  display: block;
  right: 0;
  margin: 0 calc(-50vw + 50%);
  z-index: -1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: white;
  height: 100%;
}

.product-feature p:first-child {
  margin-bottom: 1.2rem;
}

@media only screen and (min-width: 1380px) {
  .product-category-header::before,
  .sub-page-header::before {
    content: "";
    position: absolute;
    width: 100vw;
    display: block;
    right: 0;
    margin: 0 calc(-50vw + 50%);
    z-index: -1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: black;
    height: 100%;
  }
}

.product-suggestions {
  display: grid;
  place-items: center;
  gap: 5.6rem;
  grid-template-columns: repeat(auto-fit, 100%);
}
@media only screen and (min-width: 768px) {
  .product-suggestions {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20.8rem, 1fr));
  }
}/*# sourceMappingURL=main.css.map */