.hero {
  background-image: url("../assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-position-y: 70%;
  width: 100%;
  height: 60rem;

  @include responsive_layout(bp-sm) {
    background-image: url("../assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 72.9rem;
  }

  @include responsive_layout(bp-md) {
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  @include responsive_layout(bp-xl) {
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-position: top right 30%;
    background-size: 280rem;
    &::before {
      @include extended_background(hero, #191919, 0);
    }
  }
}
