.test-img {
  background-image: url("../assets/shared/desktop/image-best-gear.jpg");
  background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  width: 50%;
  border-radius: 8px;
}
