.input {
	width: 100%;
	border-radius: 8px;
	padding: 18px 24px;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	color: $color-black;
	letter-spacing: -0.25px;
	caret-color: $color-primary;
	border: 1px solid #cfcfcf;

	&::placeholder {
		color: $color-black;
		font-size: 14px;
		font-weight: bold;
		opacity: 0.4;
		line-height: 19px;
	}

	&:focus {
		border: 1px solid $color-primary;
	}
}

.payment-method {
	// border: 1px solid #cfcfcf;
	padding: 18px 24px;
	border-radius: 8px;
}
