.nav {
  &::after {
    content: "";
    background-color: $color-white;
    width: 100%;
    height: 1px;
    opacity: 20%;
    margin-top: 3.6rem;
  }

  //   &-mobile::after {
  //     content: "";
  //     background: $color-white;
  //     width: 100%;
  //     height: 1px;
  //     opacity: 20%;
  //   }
}

.nav-link {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-white;
  transition: all 0.3s;

  &-active {
    color: $color-primary;
  }

  &:hover {
    color: $color-primary;
  }
}
