.product-feature {
  & p:first-child {
    margin-bottom: 1.2rem;
  }
}

.product-category-header,
.sub-page-header {
  @include responsive_layout(bp-xl) {
    &::before {
      @include extended_background(product, black, 0);
    }
  }
}
