# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/__generated__/*
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/assets

# misc
.DS_Store
/starter-code
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.DS_Store

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
