.product-feature {
  & p:first-child {
    margin-bottom: 1.2rem;
  }
}

.product-category-header,
.sub-page-header {
  @include responsive_layout(bp-xl) {
    &::before {
      @include extended_background(product, black, 0);
    }
  }
}

.product-suggestions {
  display: grid;
  place-items: center;
  gap: 5.6rem;
  grid-template-columns: repeat(auto-fit, 100%);

  @include responsive_layout(bp-md) {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20.8rem, 1fr));
  }
}
