h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-black;
	font-weight: bold;
	text-transform: uppercase;
}

.heading-1 {
	font-size: 5.6em;
	line-height: 58px;
	letter-spacing: 2px;
}

.heading-2 {
	font-size: 4em;
	line-height: 44px;
	letter-spacing: 1.5px;
}

.heading-3 {
	font-size: 3.2em;
	line-height: 36px;
	letter-spacing: 1.15px;
}

.heading-4 {
	font-size: 2.8em;
	line-height: 38px;
	letter-spacing: 2px;
}

.heading-5 {
	font-size: 2.4em;
	line-height: 33px;
	letter-spacing: 1.7px;
}

.heading-6 {
	font-size: 1.8em;
	line-height: 24px;
	letter-spacing: 1.3px;
}

.overline-text {
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 10px;
}

.sub-title {
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 19px;
	letter-spacing: 1px;
	color: $color-primary;
}

.body-text {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 25px;
}

.nav-link {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color-white;
	transition: all 0.3s;

	&-active {
		color: $color-primary;
	}

	&:hover {
		color: $color-primary;
	}
}
