h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  font-weight: bold;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: 2px;

  @media only screen and (min-width: "768px") {
    font-size: 5.6rem;
    line-height: 58px;
  }
}

.heading-2 {
  font-size: 4rem;
  line-height: 44px;
  letter-spacing: 1.5px;
}

.heading-3 {
  font-size: 3.2rem;
  line-height: 36px;
  letter-spacing: 1.15px;
}

.heading-4 {
  font-size: 2.8rem;
  line-height: 38px;
  letter-spacing: 2px;
}

.heading-5 {
  font-size: 2.4rem;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.heading-6 {
  font-size: 1.8rem;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline-text {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub-title {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 1px;
  color: $color-primary;
}

.body-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
}

.layout-index {
  z-index: 15;
}
