@mixin responsive_layout($break-point) {
  @if ($break-point == bp-xl) {
    @media only screen and (min-width: 1550px) {
      @content;
    }
  }
}

@mixin extended_background($section, $color) {
  content: "";
  position: absolute;
  width: 100vw;
  display: block;
  right: 0;
  margin: 0 calc(-50vw + 50%);
  z-index: -1;

  @if ($section == hero) {
    background: $color;
    height: 100vh;
  } @else {
    background: $color;
    height: 100%;
  }
}
